* {
    font-family : Verdana, Arial, "宋体", SimSun;
}
.GreenTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #264631;
	color: #eff8f3;
}
.BlueTab {
	font-size: 10pt;
	color: #e7f0fa;
	background-color: #263D46;
	font-weight: bold;
}
.GreenHr {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #264630;
}
.BlueHr {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #263D46;
}
.CmtTip {
	font-size: 9pt;
	color: #000000;
}
.GrayHr {
	border-top: 1px dashed #CCCCCC;
}
.TableTextTD {
	font-size: 9pt;
	padding: 3px;
}
.TableInputTD {
	font-size: 9pt;
}
.BrownTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #463C26;
	color: #FDF8DB;
}
.LightGreenTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #D6E9DB;
	color: #2b8a48;
}
.LightYellowTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #E9E9D6;
	color: #8F7641;
}
.MediumGreenTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #D6E9DB;
	color: #86D99E;
}
.LightBlueTab {
	font-size: 9pt;
	font-weight: bold;
	color: #006c9c;
	background-color: #D6E3E9;
}
.GrayTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #363636;
	color: #F5F5F5;
}
.LightGrayTab {
	font-size: 10pt;
	font-weight: bold;
	background-color: #CBCBCB;
	color: #4D4D4D;
}
.YellowTab {
	background-color: #f9e477;
}
.YellowTD {
	background-color: #fff9c6;
}

.ThreeDBar1 {
	background-color: #EBEBEB;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F1F1F1;
	border-right-color: #4B4B4B;
	border-bottom-color: #8B8B8B;
	border-left-color: #EFEFEF;
	font-size: 9pt;
	padding: 3px;
}
.TableTextTD {
	font-size: 9pt;
}